<div class="search-container">
    <form action="/">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by last name" name="search">
        <button type="submit" value="submit">Submit</button>
    </form>
  </div>
